---
import data from "../data/sessions.json";
import { Strip, Row, Col, Button, List } from "@canonical/react-components";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { baseUrl, sessionEndpoint } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const sessions = data.results ? data.results[0].contributions : null;
const imgList = [182, 189, 190, 203, 209, 210, 219, 272, 288, 290, 298, 299]

const sessionList = sessions ? sessions.map(item => {
	const speakers = [item["speakers"][0]["fullName"]];
	if (item["speakers"].length > 1) {
		for (let speaker = 1; speaker < item["speakers"].length; speaker++) {
			speakers.push(item["speakers"][speaker]["fullName"]);
		}
	}

	return {
		title: item["title"],
		type: item["type"],
		speaker: speakers.join("·"),
		imgId: item["speakers"][0]["person_id"],
		url: item["url"]
	};
}).slice(0, 4) : null;
---

<Strip shallow element="section">
	<h2>{t("featured.tagline")}</h2>		
	<Row>
		{sessionList ? sessionList.map(item => (
			<Col size={6}>
				<div class="p-media-object--large">
					<img class="p-media-object__image is-round" 
						src={imgList.includes(item.imgId) ? `/speakers/${item.imgId}.png` : "/speakers/default.png"} alt="" />
					<div class="p-media-object__details">
						<a href={item.url}>
							<h3>{item.speaker}</h3>
						</a>
						<p class="p-media-object__content">{item.title}</p>
					</div>
				</div>
			</Col>
		)) : <p>오류가 발생하여 불러오지 못했습니다.</p>}
	</Row>
	<Row style={{marginTop: "1em"}}>
		<Col size={12} className="u-align-text--right">
			<Button
				appearance=""
				element="a"
				href={`${baseUrl}${sessionEndpoint}/contributions`}
			>
				{t("featured.details")}
			</Button>
		</Col>
	</Row>
</Strip>