---
import {
	Strip,
} from "@canonical/react-components";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);

const sponsors = await getCollection("sponsors");

const sponsorClassList = [
	"Diamond",
	"Venue",
	"Gold",
	"Silver",
	"Bronze",
	"Supporter",
];
---
<Strip type="light">
	<div class="u-fixed-width">
		<div class="p-logo-section">
			{
				sponsorClassList.map((className) => (
					<>
						<p class="p-logo-section__title">{className}</p>
						<div class="p-logo-section__items">
							{sponsors
								.filter(
									(sponsor) => {
										const [itemLang, ...slug] = sponsor.slug.split('/');
										return sponsor.data.class === className && itemLang === lang;
									}
										
								)
								.map((sponsor) => {
									const [itemLang, ...slug] = sponsor.slug.split('/');
									return (
									<div class="p-logo-section__item">
										<a href={`/${lang}/sponsors/${slug}`}>
											<img
												class="p-logo-section__logo"
												src={sponsor.data.logo}
												alt={sponsor.data.title}
											/>
										</a>
									</div>
								)})}
						</div>
					</>
				))
			}
		</div>
	</div>
</Strip>