---
import "vanilla-framework/_index.scss";

export interface Props {
	title: string;
}

const { title } = Astro.props;

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import SponsorBanner from "../components/SponsorBanner.astro";
import NavigationMenu from "../components/NavigationMenu.jsx";
import LanguagePicker from "../components/LanguagePicker.jsx";
export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ko" } }];
}
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content=`${t('eventMeta.date')}, ${t('eventMeta.venue')}`
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<NavigationMenu
				lang={lang}
				client:only="react"
			/>
			<slot />
			<SponsorBanner/>
			<footer class="l-footer--sticky p-strip--light">
				<nav class="row" aria-label="Footer">
					<div class="has-cookie">
						<p>© 2023 {t("footer.desc")}</p>
						<ul class="p-inline-list--middot">
							<li class="p-inline-list__item">
								<a
									href="https://disclosures.ubuntu-kr.org/legal/"
									>{t("footer.legal")}</a
								>
							</li>
							<li class="p-inline-list__item">
								<a href="https://fb.com/ubuntukorea">Facebook</a
								>
							</li>
							<li class="p-inline-list__item">
								<a href="https://twitter.com/UbuntuKrOrg"
									>Twitter</a
								>
							</li>
							<li class="p-inline-list__item">
								<a
									href="https://www.linkedin.com/company/ubuntu-kr/"
									>LinkedIn</a
								>
							</li>
							<li class="p-inline-list__item">
								<a href="https://mastodon.social/@UbuntuKrOrg"
									>Mastodon</a
								>
							</li>
							<li class="p-inline-list__item">
								<a
									href="https://staging.bsky.app/profile/ubuntu-kr.org"
									>Bluesky</a
								>
							</li>
							<li class="p-inline-list__item">
								<a
									href="https://github.com/ubuntu-kr/ubucon-kr-2023/issues/new/choose"
									>{t("footer.bug")}</a
								>
							</li>
						</ul>
					</div>
					<LanguagePicker page={Astro.url.pathname} client:only="react" />
				</nav>
			</footer>
		</main>
	</body>
</html>
<style is:global>
	body {
		word-break: keep-all;
	}

	html {
		font-family: "Ubuntu variable", "Ubuntu", "Pretendard Variable", "Pretendard", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	}
</style>
<style lang="scss" is:global>
	@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
	@import "vanilla-framework";
	@include vanilla;
</style>
